:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --light-text-color: #ffffff;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* =============== COMPONENTS =============== */
.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--logo-font);
}
.part-logo-web {
  color: var(--primary-brand-color);
}
/* =============== /COMPONENTS =============== */

/* =============== HEADER =============== */
.logo-dark {
  color: var(--dark-color);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state-color);
}
/* =============== /HEADER =============== */

/* =============== HERO =============== */
.hero {
  background-color: var(--dark-color);
}

.hero-main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}

.hero-button {
  background-color: var(--primary-brand-color);
  color: var(--light-text-color);
  cursor: pointer;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:active {
  background-color: var(--pressed-state-color);
}

.hero-button:active {
  background-color: var(--pressed-state-color);
}
/* =============== /HERO =============== */

/* =============== OUR QUALITIES =============== */
.our-qua-title {
  display: none;
}

.our-qua-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.our-qua-list-item-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* =============== /OUR QUALITIES =============== */

/* =============== WHAT ARE WE DOING =============== */
.we-diong-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
/* =============== /WHAT ARE WE DOING =============== */

/* =============== OUR TEAM =============== */
.team {
  background-color: var(--light-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list-item {
  background-color: #ffffff;
}

.team-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.team-list-item-subtitle {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
/* =============== /OUR TEAM =============== */

/* =============== FOOTER =============== */
.footer {
  background-color: var(--dark-color);
}

.logo-light {
  color: var(--light-color);
}

.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* =============== /FOOTER =============== */

/* =============== PORTFOLIO =============== */
.portfolio-title {
  display: none;
}

.portfolio-btn-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  cursor: pointer;
}

.portfolio-btn-item:hover,
.portfolio-btn-item:focus,
.portfolio-btn-item:active {
  color: var(--light-text-color);
  background-color: var(--pressed-state-color);
}

.portfolio-element-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.portfolio-element-list-under-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* =============== /PORTFOLIO =============== */
